*{
    margin: 0;
    padding: 0;
}

.hero{
   height: 100%;
   width: 100%;
   background-color: black;
   background-size: cover;
  
    background-image:url(new.jpg);
    position: absolute;
    background-position: center;
    
}
.form-box{
    height: 380px;
    width: 480px;
    background:white;
    position: relative;
    margin: 6% auto;
    padding: 5px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    box-shadow:0 0 20px 9px rgb(202, 79, 79);
    position: relative;
    border-radius: 30px;
}
.tog{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 0;
    outline: none;

}


#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    
    background: linear-gradient(#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.icon{
    margin: 30px auto;
    text-align: center;
    border-radius: 50%;
   

}
.inp{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.ins{
    width: 100%;
    padding: 10px 0;
    margin: 5% 0;
    background: transparent;
    outline: none;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid red;
    border-right: 0;
    
}
.check{
    margin:30px 10px 30px 0;
   
    

}
span{
    font-style: italic;
    bottom: 68px;
    position: absolute;
    

    
}
.sub{
    width: 85%;
    
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    display: block;
    background:linear-gradient(#ff105f,#ffad06);
    border: o;
    outline: none;
    border-radius: 30px;
    
}
#login{
  
    left: 50px;
}
#regester{
    left: 450px;
}